@font-face {
font-family: 'monosb';
src: url("MONOSB.TTF") format("truetype");
}




}

html, body {
	 height: 100%;
}

.x0, .y0, .z0 {
	display: inline;
}

.x1, .y1, .z1 {
	display: inline;
}

.bodycopy {
	/*transition: transform 0.9s cubic-bezier(.50, .08, 0, .99);*/
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
	font-family: monosb;
	font-size: 30px;

}

.artwork {

	  /* transition: height 0.9s cubic-bezier(.50, .08, 0, .99) ; */
	   /*transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
	   animation: color 20s infinite;*/


}

.signature{
   position: fixed;
    text-align: center;
    bottom: 25px;
    transform: translate(-50%);
    left: 50%;
    width: 400px;

}

a.button:link{
    color:black;
    font-size: 14px;
    background-color: aquamarine;
}

a.button:hover{
    color:black;
    font-size: 14px;
    background-color: transparent;
}

a.button:active{
    color:black;
    font-size: 10px;
    background-color: transparent;
}

a.button:visited{
    color: black;

}


a:link{
    color:black;

}
a:visited{
    color: black;

}

text{
        font-family: 'Barlow', sans-serif;
font-size: 10px;


}
